.loginPage {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 1rem;

	h1 {
		color: white;
	}

	.notMember {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: underline;
		&:visited{
			color: white;
		}
	}
}