@use '../../variables' as *;

.radioSelection {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	.radioOption {
		display: block;
		align-self: center;
		justify-self: center;
		font-size: 16px;
		color: black;
		height: 85px;
		width: 100%;
		background-color: $secondary-color;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		input {
			display: none;
		}
	}
}
