@use '../../variables' as *;
@use '../../styles/mixins' as *;

.noBlogs {
	@include bentoBox;

}

.blogsContainer {
	@include bentoBox;

	@include md {
		width: 100%;
	}	

	@include lg {
		width: 92%;
	}	

	@include xl {
		width: 92%;
	}	

	a:visited {
		color: #4A4A4A;
	}
}